<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width" />
	<link rel="shortcut icon" type="image/png" th:href="@{/img/favicon.png}" />
	<title th:text="${'Match &bull; ' + title}"></title>
	<link th:href="@{/css/bootstrap.min.css}" type="text/css" rel="stylesheet" />
	<script th:src="@{/js/lib/jquery-3.1.0.min.js}"></script>
	<script th:src="@{/js/lib/bootstrap.min.js}"></script>
	<script th:inline="javascript">//<![CDATA[
	var Match = {
		settings: [[${javascriptSettings}]]
	};
	//]]></script>
	<script th:src="@{/js/store.js}"></script>
	<script th:src="@{/js/javascript.js}"></script>
	<script th:each="file : ${javascript}" th:src="@{${'/js/' + file}}"></script>
</head>
<body>
	<div class="container">
		<header>
			<nav class="navbar navbar-inverse">
				<ul class="nav navbar-nav">
					<li><a th:href="@{/}">Home</a></li>
					<li><a th:href="@{/new}">New</a></li>
					<li data-type="has-test"><a th:href="@{/current}">Test</a></li>
				</ul>
			</nav>
		</header>
		<noscript>
			<section class="danger">
				<p class="text-danger">
					<span class="glyphicon glyphicon-warning-sign"></span>
					Javascript needs to be enabled.
				</p>
			</section>
		</noscript>
		<div id="main" th:include="__${body}__"></div>
	</div>
</body>
</html>